<table class="ui right aligned selectable table">
      <thead>
        <tr><th class="left aligned">Person</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Protein</th>
      </tr></thead>
      <tbody>
        <tr>
          <td class="left aligned">Delmar</td>
          <td>36</td>
          <td>36g</td>
          <td>2g</td>
        </tr>
        <tr>
          <td class="left aligned">Louise</td>
          <td>24</td>
          <td>24g</td>
          <td>29g</td>
        </tr>
        <tr>
          <td class="left aligned">Terrell</td>
          <td>22</td>
          <td>11g</td>
          <td>9g</td>
        </tr>
        <tr>
          <td class="left aligned">Marion</td>
          <td>7</td>
          <td>35g</td>
          <td>3g</td>
        </tr>
        <tr>
          <td class="left aligned">Clayton</td>
          <td>7</td>
          <td>38g</td>
          <td>20g</td>
        </tr>
      </tbody>
    </table>